backend/target/
backend/spring-boot-error.log
backend/logs/

frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

logs/
*.py
*.log
*.gz

*.db
__pycache__/
*.pyc
*.pyo

.vscode/
.idea/
.project
.classpath
.settings/

.DS_Store
Thumbs.db
output.txt